# Got data from ppa:serge-rider/dbeaver-ce but installed as classic repo to use /etc/apt/trusted.gpg.d for keyring
---
- name: Add repo
  become: true
  ansible.builtin.deb822_repository:
    name: dbeaver
    uris: https://dbeaver.io/debs/dbeaver-ce
    suites: '/'
    signed_by: https://dbeaver.io/debs/dbeaver.gpg.key

- name: Install DBeaver CE
  become: true
  ansible.builtin.apt:
    update_cache: true
    pkg:
      - dbeaver-ce
