---
- name: Install requirements
  become: true
  ansible.builtin.apt:
    pkg:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg

- name: Get DEB architecture
  ansible.builtin.command: dpkg --print-architecture
  register: deb_architecture
  changed_when: deb_architecture.rc != 0

- name: Add repo
  become: true
  ansible.builtin.deb822_repository:
    name: docker
    uris: https://download.docker.com/linux/ubuntu
    architectures: '{{ deb_architecture.stdout }}'
    suites: '{{ ansible_distribution_release }}'
    components:
      - stable
    signed_by: https://download.docker.com/linux/ubuntu/gpg

- name: Install docker
  become: true
  ansible.builtin.apt:
    update_cache: true
    pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin

- name: Adding user to group 'docker'. User '{{ _user }}'
  become: true
  ansible.builtin.user:
    name: "{{ _user }}"
    groups: docker
    append: true

- name: Create a symbolic to docker-compose
  become: true
  when: docker_compose_compatibility == 'true'
  ansible.builtin.copy:
    src: docker-compose
    dest: /usr/bin/docker-compose
    mode: '755'
    owner: root
    group: root
