---
- name: Install NVM
  ansible.builtin.git:
    repo: https://github.com/nvm-sh/nvm.git
    dest: ~/.nvm
    version: "{{ _version }}"
    depth: 1

- name: Install current Node LTS
  ansible.builtin.shell:
    cmd: |
      export NVM_DIR="$HOME/.nvm"
      source "${NVM_DIR}/nvm.sh"
      source "$NVM_DIR/bash_completion"
      nvm install --lts
    creates: ~/.nvm/versions/node
  args:
    executable: /bin/bash
