---
- name: Download
  ansible.builtin.unarchive:
    src: "https://download-cdn.jetbrains.com/toolbox/jetbrains-toolbox-{{ _version }}.tar.gz"
    dest: "/tmp"
    remote_src: true

- name: Install to {{ _local_bin }}
  ansible.builtin.copy:
    src: "/tmp/jetbrains-toolbox-{{ _version }}/jetbrains-toolbox"
    dest: "{{ _local_bin }}"
    mode: u+x
