---
- name: Download and Install JetBrains Toolbox
  ansible.builtin.unarchive:
    src: "https://download-cdn.jetbrains.com/toolbox/jetbrains-toolbox-{{ _version }}.tar.gz"
    dest: "{{ _install_dir }}"
    creates: "{{ _install_dir }}/jetbrains-toolbox-{{ _version }}"
    remote_src: true

- name: Create symlinks
  ansible.builtin.file:
    src: "{{ _install_dir }}/jetbrains-toolbox-{{ _version }}/bin/jetbrains-toolbox"
    dest: "{{ _local_bin }}/jetbrains-toolbox"
    state: link
