---
- name: Install dependencies
  become: true
  ansible.builtin.apt:
    pkg:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg-agent
      - lsb-release

- name: Add repo
  become: true
  ansible.builtin.deb822_repository:
    name: azure-cli
    uris: https://packages.microsoft.com/repos/azure-cli/
    architectures: amd64
    suites: '{{ ansible_distribution_release }}'
    components:
      - main
    signed_by: https://packages.microsoft.com/keys/microsoft.asc

- name: Install package
  become: true
  ansible.builtin.apt:
    update_cache: true
    pkg:
      - azure-cli
